.App {
}

.App header {
  background-color: #282c34;
  min-height: 200px;
  align-items: center;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
}

nav,
section.main-view {
}

nav {
}

section.main-view {
}

@media screen and (min-width: 720px) {
  .App {
    flex-direction: row;
  }
  nav {
    flex: 1;
  }
  section.main-view {
    flex: 3;
  }
}
