:root {
  --note-padding: 1em;
}

* {
  box-sizing: border-box;
}

.btn {
  background: unset;
  border: 1px solid black;
}

.App header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: #282c34;
}

.header-link {
  text-decoration: none;
  font-size: 200%;
  color: crimson;
}

.header-link:hover {
  color: khaki;
}

main {
  padding-top: 1em;
}

main.flex-container {
  display: flex;
  flex-direction: column;
}

.folder-list {
  width: fit-content;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.folder-list-item {
  margin-bottom: 1em;
  width: fit-content;
  text-align: center;
  border: 1px solid black;
}

.folder-list-item:last-child {
  margin-bottom: 0;
}

.folder-link {
  display: inline-block;
  width: 200px;
  padding: 1em;
  text-decoration: none;
  color: black;
}

.folder-link:hover {
  background: cornflowerblue;
  color: white;
}

.folder-link.active {
  background: darkslateblue;
  color: white;
}

.notes-list-all,
.notes-list-folder {
  list-style: none;
  padding-left: 0;
}

.notes-list-all li,
.notes-list-folder li {
  margin-bottom: 1em;
}

.note-item {
  padding: 0 1em;
}

.note-header {
  position: relative;
}

.note-name {
}

.note-modified {
  font-size: smaller;
  font-style: italic;
}

.note-content {
  margin-top: var(--note-padding);
}

.btn.note-delete {
  position: unset;
  display: block;
  margin-top: 1em;
}

/* ---------- DESKTOP RESPONSIVE VIEW ---------- */
@media screen and (min-width: 720px) {
  main.flex-container {
    flex-direction: row;
  }

  nav {
    flex: 1;
  }

  section.main-view {
    flex: 3;
  }

  .btn.note-delete {
    position: absolute;
    top: var(--note-padding);
    right: var(--note-padding);
    margin-top: 0;
  }
}
