.App {
}

.App header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: #282c34;
}

.header-link {
  text-decoration: none;
  font-size: 200%;
  color: crimson;
}

.header-link:hover {
  color: khaki;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

nav,
section.main-view {
}

nav {
}

section.main-view {
}

@media screen and (min-width: 720px) {
  .flex-container {
    flex-direction: row;
  }
  nav {
    flex: 1;
  }
  section.main-view {
    flex: 3;
  }
}
